
@tailwind base;
@tailwind components;
@tailwind utilities;


.about {
  background-image: url('./assets/Vector2.svg');
  background-position: center ; 
  /* height: 1000px; */
  background-repeat: no-repeat;
  background-size: cover; 
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.vectorCuadros{
  background-image: url('./assets/Vector-Cuadros.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index: 999;
  width:100%;
  height: 100%;
}
