
@tailwind base;
@tailwind components;
@tailwind utilities;


.about {
  background-image: url('./assets/Vector2.svg');
  background-position: center ; 
  background-repeat: no-repeat;
  background-size: cover; 
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer{
  background-image: url('./assets/Rectangle\ 20.png');
  background-repeat: no-repeat;
  background-size: cover; 
}
.vectorCuadros{
  background-image: url('./assets/Vector-Cuadros.png');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  z-index: 999;
  width:100%;
  height: 100%;
}

.text-gradient {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(to right, #B224EF, #7579FF);
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
}
.card {
  position: relative;
  z-index: 9999;
  box-shadow: 0 4px 24px 0 rgba(67, 67, 67, 0.18);
}

.z-0 {
  z-index: -1;
}
.active-link .active-link:block {
  display: block !important;
}



