@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
  scrollbar-color: transparent transparent;

}

.about {
  background-image: url("./assets/Vector2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-image: url("./assets/Rectangle\ 20.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.vectorCuadros {
  background-image: url("./assets/Vector-Cuadros.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.text-gradient {
  @apply bg-clip-text text-transparent md:text-[24px] text-[19px];
  background-image: linear-gradient(to right, #b224ef, #7579ff);
  font-weight: 600;
  line-height: 25px;
}
.card {
  position: relative;
  z-index: 9999;
  box-shadow: 0 4px 24px 0 rgba(67, 67, 67, 0.18);
}

.z-0 {
  z-index: -1;
}
.active-link .active-link:block {
  display: block !important;
}

@media only screen and (max-width: 600px) {
  .arrow {
    bottom: -80px;
    right: 0 !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .skills_patron img{
    width: 5rem;
  }
  .skills_patron{
    bottom: 38%;
  }
  .arrow {
    bottom: -130px;
    right: 130px !important;
  }
  .card {
    width: 25rem !important;
    height: 220px;
  }
  .card img {
    width: 350px;
  }
  .card h4 {
    margin-top: 140px;
    padding-left: 40px;
  }
  .card p {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1024px) {
  .arrow {
    bottom: -110px !important;
    right: 10px !important;
  }

}
@media only screen and (min-width:425px) and (max-width:700px) {

  .arrow {
    bottom: -110px !important;
  }
  
}
