
@tailwind base;
@tailwind components;
@tailwind utilities;


.about {
  background-image: url('./assets/Vector2.png');
   height:700px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 

}
.vectorCuadros{
  background-image: url('./assets/Vector-Cuadros.png');
  height:700px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

}